/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~angular-notifier/styles";
html,
body {
    height: 100px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}